{% extends "main.html" %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">      

	<div class="container mt-5">
		<!-- Registration form -->
		<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
			{% csrf_token %} <!-- CSRF token for security -->

			<!-- Registration form heading -->
			<h1 style="text-align: center;"><span style="color: purple;">Welcome</span></h1>
			<h3>Register</h3>
			<hr>

			<!-- Display error/success messages -->
			{% if messages %}
			<div class="alert alert-primary" role="alert">
				{% for message in messages %}
				{{ message }}
				{% endfor %}
			</div>
			{% endif %}

			<!-- First Name input field -->
			<div class="form-group">
				<label>First name</label>
				<input type="text" class="form-control"	placeholder="Enter First name" name="first_name" required>
			</div>

			<!-- Last Name input field -->
			<div class="form-group">
				<label>Last name</label>
				<input type="text" name="last_name" class="form-control" placeholder="Enter Last name" required>
			</div>

			<!-- Username input field -->
			<div class="form-group">
				<label exampleInputEmail1">Username</label>
				<input type="text" class="form-control" name="username" placeholder="Enter email" required>
			</div>

			<!-- Password input field -->
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password" required>
			</div>

			<!-- Link to login page for users who already have an account -->
			<p>Already have an account <a href="{% url 'login_page' %}">Login</a> </p>

			<!-- Submit button -->
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock %}